<%#
    File Name     : internal_server_error.html.erb
    Version       : v1.1
    Designer      : 籔本悠紀
    Date          : 2021.07.12
    Purpose       : 500 Internal Server ErrorのERBテンプレート
%>


<div id="error">
  <h1>500 Internal Server Error</h1>
  <p>申し訳ございません．システムエラーが発生しました．</p>
  <p>しばらく時間が経過した後，再読み込みしてください．</p>
  <p>それでも解決しない場合は，お手数ですが管理者に連絡してください．</p>
  <p>管理者：籔本悠紀 (email: al19138@shibaura-it.ac.jp)</p>
</div>