<%#
    File Name     : unprocessable_entity.html.erb
    Version       : v1.0
    Designer      : 籔本悠紀
    Date          : 2021.06.28
    Purpose       : 422 Unprocessable EntityのERBテンプレート
%>

<div id="error">
  <h1>422 Unprocessable Entity</h1>
  <p>指定されたページは表示できません</p>
</div>