<header>
  <span class="logo-mark">OHEシステム</span>
  <%=
    if current_user
      link_to "ログアウト", :session, method: :delete
    else
      link_to "ログイン", :login
    end
  %>
  <%=
    if current_user
      link_to "アカウント編集", :edit_users
    else
      link_to "新規登録", :new_users
    end
  %>
</header>