<%#
  File Name   : users/_create_account.html.erb
  Version     : 1.0
  Designer    : 籔本悠紀
  Date        : 2021.06.06
  Purpose     : ユーザーの新規アカウント情報入力フォーム
%>

<div>
  <%= f.label :email, "メールアドレス", class: "required" %>
  <%= f.email_field :email, size: 32, required: true %>
</div>
<div>
  <%= f.label :password, "パスワード", class: "required" %>
  <%= f.password_field :password, size: 32, required: true %>
</div>