<% @title = "新規登録" %>
<h1><%= @title %></h1>

<div id="generic-form">
  <%= form_with model: @user, url: :users do |f| %>
    <%= render "create_account", f: f %>
    <div>
      <%= f.submit "登録" %>
      <% link_to "キャンセル", :index %>
    </div>
  <% end %>
</div>