<% @title = "新規登録" %>
<h1><%= @title %></h1>

<div id="generic-form">
  <%= form_with model: @user, url: :new_user do |f| %>
    <%= render "form", f: f %>
    <div class="buttons">
      <%= f.submit "登録" %>
      <% link_to "キャンセル", :index %>
    </div>
  <% end %>
</div>