<%= begin %>
  File Name   : top/index.html.erb
  Version     : 1.0
  Designer    : 籔本悠紀
  Date        : 2021.06.05
  Purpose     : インデックス画面
<%= end %>

<% @title = "OHEシステムトップページ" %>
<h1><%= @title %></h1>