<%#
  File Name   : top/index.html.erb
  Version     : 1.0
  Designer    : 籔本悠紀
  Date        : 2021.06.05
  Purpose     : インデックス画面
%>

<% @title = "OHEシステムトップページ" %>
<h1><%= @title %></h1>

<div>
  <%= link_to "コーディネートを提案", :new_coordinate  %>
</div>