/*
** File Name    : _colors.scss
** Version      : 1.0
** Designer     : 籔本悠紀
** Date         : 2021.06.08
** Purpose      : scssで使用する色を変数に設定
 */

/* グレー系 */

$dark_gray: 666666;
$gray: #cccccc;

$light_gray: #eeeeee;
$very_light_gray: #fafafa;

/* シアン系 */

$dark_cyan: #448888;
$very_dark_cyan: darken($dark_cyan, 25%);

/* 赤系 */
$red: #cc0000;