/*
** File Name    : _colors.scss
** Version      : 1.0
** Designer     : 籔本悠紀
** Date         : 2021.06.08
** Purpose      : scssで使用する色を変数に設定
 */

/* 黒系 */

$black: #000000;
$dark_gray: 666666;
$gray: #cccccc;

$light_gray: #eeeeee;
$very_light_gray: #fafafa;

/* シアン系 */

$dark_cyan: #448888;
$very_dark_cyan: darken($dark_cyan, 25%);

/* 赤系 */
$red: #cc0000;

/* 青系 */
$blue: #0000ff;
$light_blue: #0066ff;
$very_light_blue: #00ccff;
$sky_blue: rgba(0, 255, 255, 0.5);

/* 緑系 */
$green: #00cc00;