/*
** File Name    : _dimensions.scss
** Version      : 1.0
** Designer     : 籔本悠紀
** Date         : 2021.06.06
** Purpose      : scssで使用するピクセル数を変数に設定
 */

/* マージン，パディング */
$narrow: 2px;
$moderate: 6px;
$wide: 10px;
$very_wide: 20px;

/* フォントサイズ */

$tiny: 8px;
$small: 10px;
$normal: 16px;
$huge: 20px;

/* 行の高さ */

$standard_line_height: 16px;