/*
** File Name    : container.scss
** Version      : v1.0
** Designer     : 籔本悠紀
** Date         : 2021.06.29
** Purpose      : divのcontainerクラスのスタイルシート
 */

@import "colors";
@import "dimensions";

div#wrapper {
    div#container {
      text-align: center;
      h1 {
        margin: 0;
        padding: 9px 6px;
        font-size: 16px;
        font-weight: normal;
        background-color: $very_dark_cyan;
        color: $gray;
      }
    }
}

div#flash {
  float: left;
  span.notice, span.alert {
    display: inline-block;
    padding: $moderate $wide;
    margin: 0 $wide;
    font-size: $normal;
    color: $very_light_gray;
  }
  span.notice {
    background-color: $green;
  }
  span.alert {
    background-color: $red;
  }
}

div#datetime {
  p.alert {
    color: $red;
  }
}