/*
** File Name    : layout.scss
** Version      : v1.2
** Designer     : 籔本悠紀
** Date         : 2021.07.05
** Purpose      : 基本レイアウトで使用するスタイルシート
 */

@import "colors";
@import "dimensions";

html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: image-url('clear_sky.jpg');
  background-attachment: fixed;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Meiryo UI";
}

div#background-mask {
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  height: 300%;
}

div#wrapper {
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  padding-bottom: 48px;
}

header {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0);
  color: $black;
  text-align: center;
  div#top {
    float: left;
  }
  span.logo-mark {
    font-size: xx-large;
    width: 200px;
    //text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  div#sessions {
    float: right;
    margin-left: $wide;
  }
}

span.mark {
  color: $red;
}

div.search {
  border: solid 4px black;
  width: 800px;
  margin: $wide * 2 auto;
  padding: 20px;
  border-radius: 20px;
  p {
    font-weight: bold;
    font-size: large;
  }
}

form.button_to {
  input {
    padding: $wide;
    font-size: medium;
    border: none;
    background-color: white;
    border-radius: 20px;
  }
  display: inline-block;
}