@import "colors";
@import "dimentions";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
div#wrapper {
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  padding-bottom: 48px;
  background-color: $gray;
}
header {
  padding: 5px;
  background-color: $dark_cyan;
  color: $gray;
  span.logo-mark {
    font-weight: bold;
  }
  a {
    float: right;
    color: $very_light_gray;
    margin-left: $wide;
  }
}