/*
** File Name    : tables.scss
** Version      : v1.1
** Designer     : 籔本悠紀
** Date         : 2021.07.12
** Purpose      : テーブルのスタイルシート
*/

@import "colors";
@import "dimensions";

div.table-wrapper {
  width: 90%;
  margin: 0 auto;

  div.links {
    text-align: right;
    padding: $moderate;
  }

  table {
    margin: $moderate auto 0;
    border: solid $moderate black;
    tr {
      th {
        background-color: $dark_gray;
        color: $very_light_gray;
      }
      th, td {
        border: 2px black solid;
        padding: $wide;
      }
      th.kind {
        width: 150px;
      }
      th.color {
        width: 100px;
      }
      th.type {
        width: 100px;
      }
      th.tag {
        width: 100px;
      }
      td.actions {
        text-align: center;
        color: $dark_gray;
      }

      td {
        img {
          padding: 10px;
        }
      }
    }

    table.listing {
      width: 100%;
      tr:nth-child(even) { background-color: $gray; }
      th:nth-child(odd) { background-color: $light_gray; }
    }
  }
}