/*
** File Name    : tables.scss
** Version      : v1.0
** Designer     : 籔本悠紀
** Date         : 2021.06.26
** Purpose      : テーブルのスタイルシート
*/

@import "colors";
@import "dimensions";

div.table-wrapper {
  width: 90%;
  margin: 0 auto;

  div.links {
    text-align: right;
    padding: $moderate;
  }

  table {
    margin: $moderate auto 0;
    border: solid $moderate black;
    tr {
      th {
        background-color: $dark_gray;
        color: $very_light_gray;
      }
      th, td {
        padding: $narrow;
      }
    }

    table.listing {
      width: 100%;
      tr:nth-child(even) { background-color: $gray; }
      th:nth-child(odd) { background-color: $light_gray; }
    }
  }
}